.float-right {
    float: right
}

.block {
    display: block !important;
}

.padding-10 {
    padding: 10px !important;
}

.btn-xs {
    padding: 5px;
}

.font-18 {
    font-size: 16px;
}

.mb-5px {
    margin-bottom: 5px !important;
}

body {
    background: #ffffff;
    font-family: 'Roboto', sans-serif !important;
}

.pb_slant-light:after,
.pb_slant-white:after {
    background: none;
}

.pb_gradient_v1:before {
    background: none;
}

.pb_navbar {
    background: #000;
}

.pb_cover .heading,
.pb_cover_v1 .heading,
.pb_cover_v2 .heading,
.pb_cover_v3 .heading,
.pb_cover_v4 .heading {
    font-size: 40px;
    color: #000 !important;
    font-weight: 600 !important;
}

.pb_form_v1 {
    background: #fab729;
    border-radius: 15px;
    padding: 25px;
    padding-bottom: 1px;
}

.pb_cover_v3 {
    margin-top: 103px;
}

.custom-header {
    font-size: 24px !important;
    font-weight: 700 !important;
}

.navbar {
    padding: 0 !important;
}

.form-area:before {
    content: "";
}

.top-discount {
    position: absolute;
    top: 0px;
    left: -21px;
    width: 156px;
    z-index: 99 !important;
}

.online-booking {
    color: #232f57;
    font-weight: bold !important;
    font-size: 24px;
}

.no-padding {
    padding: 0;
}

.btn-black {
    background: #000;
    color: #fff;
}

.register-btn {
    margin-top: 70px;
}

.icon_img {
    width: 40px;
    height: 50px;
    float: left;
    margin-right: 18px;
}

.owl-carousel .owl-item .icon_img .fav-icon {
    width: 45px;
    height: 45px;
    float: left;
    margin-right: 20px;
    margin-top: 11px;
    padding: 0px !important;
    border: none;
}

button {
    cursor: pointer;
}

.form-area .pb_form_v1 {
    background: #9DB9C6;
}

.user-sidebar {
    background: #fab729;
    min-height: 521px;
    height: 100%;
}

.user-sidebar li {
    text-align: center;
    background: #fab729;
    width: 100%;
    display: block;
    float: left;
    padding: 0;
}

.user-sidebar li a {
    text-decoration: none;
    color: #000;
    font-weight: 900;
    font-size: 18px;
    padding: 10px;
    width: 100%;
    float: left;
    border-bottom: 0;
}

.user-sidebar li a:hover {
    border-bottom: 0;
}

.user-sidebar li:hover a,
.user-sidebar li.active a {
    color: #fff;
}

.user-sidebar li:hover .badge {
    color: #fff;
}

.user-sidebar .badge {
    font-size: 53%;
    font-weight: normal;
    border: 1px solid #111;
    border-radius: 30px;
    color: #000;
}

.user-sidebar li:hover,
.user-sidebar li.active {
    background: #1F2D56;
}

.form-step {
    width: 32%;
    position: relative;
}

.form-step span.bar {
    width: 88%;
    float: right;
    border-bottom: 8px solid #fff;
    border-radius: 10px;
}

.form-step.active span.bar {
    border-color: #fab729;
}

.form-step span.text {
    color: #fff;
    position: absolute;
    font-weight: bold;
    bottom: -10px;
    padding: 0 5px;
    left: 0
}

.footer_left h3 {
    padding: 29px 15px 29px 0px;
    font-weight: bold !important;
    font-size: 26px;
}

.footer_left {
    border-right: 8px solid #d9b500;
    margin: 30px 0;
}

.footer_right {
    padding: 31px 0px;
}

.footer_right ul {}

.footer_right ul li {
    list-style: none;
}

.footer_right ul li p {
    color: #000;
    font-family: sans-serif;
}

.footer_right ul li img {
    width: 30px;
    display: inline-block;
    float: left;
    height: 30px;
    margin-right: 5px;
    margin-top: 10px;
}

.form-area .pb_form_v1.registration-from {
    background-color: #fff;
    background-image: url('../../../images/img/frame.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 40px 55px;
    padding-left: 70px;
}

.practice_head {
    font-size: 18px;
    text-align: center;
    background: #fff;
    padding: 8px;
    color: #000;
    font-weight: 500;
    border-radius: 10px;
}

.form-area .pb_form_v2 {
    background: #1f2d56;
    border-radius: 13px;
    padding: 30px;
}

.single_option {
    text-align: center;
    display: inline-block;
    padding-right: 20px;
}

.single_option a {
    color: #000 !important;
    font-weight: bold;
}

.header {
    display: inline-block;
}

.prev-slides i {
    font-size: 130px;
    color: #000;
    font-weight: 300 !important;
}

.next-slides i {
    font-size: 130px;
    color: #000;
    font-weight: 300;
}

.prev-slides {
    top: 26%;
    position: absolute;
    left: -7%;
}

.next-slides {
    top: 26%;
    position: absolute;
    right: -7%;
}

.containers {
    width: 100%;
}

.pd-top-30 {
    padding-top: 30px;
}

.card-body {
    min-height: 150px;
    background: #9DB9C6;
    padding: 0 !important;
}

.card-body h4 {
    text-align: center;
    font-weight: 700 !important;
    font-weight: 700 !important;
}

.card-body p {
    text-align: center;
    color: #000;
    font-size: 30px;
}

.card-body h3 {
    font-size: 30px;
    text-align: center;
    padding-top: 7px;
}

.card-header {
    background: #1F2D56;
    color: #fff;
    font-weight: 600;
}

.navbar-brand img {
    width: 270px;
    padding: 24px;
}

.next_btn {
    background: #1F2D56 !important;
}

.next_btn a {
    color: #fff;
    font-size: 12px;
}

.next_btn a:hover {
    color: rgb(250, 183, 41);
    border-bottom: 2px solid #fab729;
}

.card-body button {
    text-align: center;
    margin: 30px 60px;
}

.owl-carousel .owl-item img {
    display: block;
    width: 89%;
    margin: 0 auto;
    padding: 24px;
}

.show-xs {
    display: none;
}

.small_img {
    width: 291px !important;
}

.btn.btn-default.btn-black.register-btn {
    background: #232d53;
}

.btn.btn-default.btn-black.register-btn:hover {
    background: #000;
}

.carousel_title h2 {
    width: 100%;
    color: #fab729;
    padding-top: 30px !important;
    font-style: italic;
    padding-left: 120px;
}

.dashboard-img-center {
    text-align: center;
}

.dashboard-img-center img {
    width: 450px;
}

.color-black-bold {
    color: #000 !important;
    font-weight: bold
}

.btn-warning {
    color: #000;
    background-color: #fab729;
    border-color: #fab729;
}

.carusel_img {
    width: 100%;
    border: 0px solid red;
}

.carosel_margin_top {
    margin-top: 60px;
}

.margin_top_59 {
    margin-top: 59px;
}

.pb_height-50 {
    height: 40px!important;
}

.pb_navbar .navbar-toggler {
    padding-right: 10px;
}

.pb_cover .sub-heading,
.pb_cover_v1 .sub-heading,
.pb_cover_v2 .sub-heading,
.pb_cover_v3 .sub-heading,
.pb_cover_v4 .sub-heading {
    font-size: 18px;
    color: #242d52;
    font-weight: 600;
}

.relative {
    margin-top: 50px;
}

.back-to-reg {
    margin-top: 15px;
}

.user-dashboard-box {}

.icon {
    text-align: center;
}

.icon i {
    font-size: 60px;
    padding: 30px 39px;
    border-radius: 50%;
    border: 2px solid #000;
    color: #000;
}

.text p {
    padding: 20px 94px;
    text-align: center;
    color: #000;
}

.form-area .pb_form_v3 {
    background: #d7dfe2;
    border-radius: 13px;
    padding: 30px;
}
.pb_form_v6{
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-left: 35px;
    padding-top: 40px;
}

.form-area .pb_form_v1.login-form {
    background-color: #fff;
    background-image: url('/images/img/login-frame.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-left: 35px;
    padding-top: 40px;
}

.user_upload {
    cursor: pointer;
    border: 1px dashed #000;
    position: relative;
}

.user_upload:hover {}

.user_upload:hover::after {
    content: "\f0ee";
    top: 0;
    left: 0;
    position: absolute;
    font-family: "FontAwesome";
    width: 100%;
    height: 100%;
    padding-top: 27px;
    text-align: center;
    background: rgba(0, 0, 0, .5);
}

.logo-sections h5 {
    font-size: 14px;
    color: #000;
    padding: 15px 0;
}

.hedding_middle h2 {
    text-align: center;
    color: #000;
    font-size: 22px;
    font-weight: 700 !important;
    padding: 25px 0;
}

.hedding_middle h2 span {
    font-size: 20px;
    color: #0d6aad
}

.hedding_middle p {
    color: #000;
    padding-top: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 19px;
}

input[type=radio],
input[type=checkbox] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    margin-right: 4px;
    width: 15px;
}

.table_hedding {
    background: #fab729;
    height: 20px
}

.table_hedding td {
    text-align: center;
    color: #000;
    font-size: 21px;
    font-weight: 600;
}

.width_25 .ones_col {
    width: 20%;
}

.width_25 .second_col {
    width: 30%;
}

.table-bordered td {
    border-color: #fab729 !important;
    color: #000;
    font-weight: 400;
}

input.checkboxs {
    margin-left: 36px;
}

.footer_table {
    margin: 80px 0px;
}

.wrapper {
    padding: 10px 27px;
    font-family: "Arial Narrow", Arial, sans-serif;
}

.left_text h3 {
    font-size: 17px;
    text-align: center;
    font-weight: 400 !important;
    border-top: 2px solid #fab729;
    padding: 7px;
}

.table {
    font-family: 'Roboto', sans-serif !important;
}

.img_ p {
    padding: 75px 5px;
    border: 1px solid #fab729;
    color: #000;
    font-weight: 700;
}

.logo-sections {
    width: 100%;
}

.user_img {
    width: 100%;
}

.fixed_button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 3px;
    position: fixed;
    top: 65%;
    right: 2%;
    width: 0px;
    height: auto;
    z-index: 9999;
    margin-top: -24px;
    text-align: center;
    transform: rotate(270deg);
}

.fixed_button a {
    padding: 0 !important;
    display: block;
    text-align: left;
    height: 24px;
    width: 24px;
    padding: 8px 16px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
}

.company_info {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 3px;
    position: fixed;
    top: 97%;
    right: 48%;
    height: auto;
    z-index: 9999;
    margin-top: -24px;
    text-align: center;
}

.company_info P {
    color: #000;
    font-size: 9px;
    font-style: italic;
    font-family: 'arrial narrow';
}

.google_store {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 3px;
    position: fixed;
    top: 87%;
    right: 2%;
    width: 0px;
    height: auto;
    z-index: 9999;
    margin-top: -24px;
    text-align: center;
    transform: rotate(270deg);
    margin-right: -7px;
}

.update_btn {
    background: #19671c !important;
}

.form-area .pb_form_v4 {
    background: #fab729;
    border-radius: 15px;
    padding: 25px;
    padding-bottom: 1px;
}

.form-step.active span.bar1 {
    border-color: #25671c;
}

.form-step span.bar1 {
    width: 88%;
    float: right;
    border-bottom: 8px solid #fff;
    border-radius: 10px;
}

.pb_form_v5 {
    background: #ccd8de;
}

.last_col {
    width: 24%;
}

.info_user h3 {
    font-size: 20px;
    font-weight: 600 !important;
}
.aptitude_head h2{}

#pay_ammount {
    width: 180px;
}


/* Invoice Style */

.info_user h3 {
    padding: 0 !important;
    margin: 0!important;
    font-size: 16px;
    font-weight: 700;
}
.aptitude_wrapper{
    border: 1px solid #f9ebeb;
    border-radius: 7px;
    margin-bottom: 50px;
    background: #fff;
}
.instructions h4{
    text-align: center;
    color: #000;
    font-weight: 600 !important;
    font-size: 20px;
    padding: 20px 44px;
}
.instructions p{
    font-size: 14px;
    color: #000;
    padding: 0 25px;

}
.instructions{
    padding-top: 10px;
}

.information {
    padding: 10px;
    margin-top: -7px !important;
    /* margin: 0 auto; */
    text-align: center;
}
.instructions ol li{
    color: #000;
    font-weight: 500 !important;
    font-size: 15px;
    padding: 0 20px 0 5px;
}
.top{
    background: #f4b72a;
    padding: 18px 0px;
    border-radius: 7px 7px 0px 0px;
    text-align: center;
    color: #000;
    font-weight: 600;
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px;
    font-style: italic;
}
.button_footer{
    text-align: center;
    color: #000;
    font-weight: 400;
    margin-top: 20px;
}

.question_option{
    margin: 5px 25px;
}
.coolbox input{
    width: 23px;
    height: 23px;
    margin: 4px 4px;
}
label.coolbox {
    background:#1d82ff;
    margin-bottom: 5px !IMPORTANT;
    display:block;
    width:35px;
    height:30px;
    line-height:30px;
    text-align:center;
    vertical-align:middle;
    font-weight:bold;
    font-size:20px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
}
label.coolbox input{
    display: none;
}
label.coolbox span{
    color: #fff;
}
label.coolbox input:checked + .opt-serial {
    color:#fff;
    position: relative;
}
label.coolbox input:checked + .opt-serial span{
    display: none;
}

label.coolbox input:checked + .opt-serial:before
    {
    content:'\f00c';
    position: absolute;
    top:0;
    font-family: FontAwesome;
    font-size: 24px;
    background: green;
    padding: 0px 5px;
    left:-18;

    }
/*stop watch*/
.controls {
    position: fixed;
    text-align: center;
    top: 1em;
    width: 100%;
}
.button {
    color: #bbb;
    font-size: 4vw;
    margin: 0 0.5em;
    text-decoration: none;
}
.button:first-child {
    margin-left: 0;
}
.button:last-child {
    margin-right: 0;
}
.button:hover {
    color: white;
}
.stopwatch {
    font-size: 20vw;
    height: 100%;
    line-height: 100vh;
    text-align: center;
}
.results {
    border-color: lime;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.stopwatch{
    font-size: 16px !important;
    line-height: 1.5 !important;}
.information_address {
    margin-top: 8px;
    font-size: 12px;
    color: #000;
}

#amount_in_word {
    text-transform: capitalize;
}
.button_relative{
    position: relative;
}
.button_relative .subject_btn{
    background: #232d53;
    display: block;
    margin: 0 auto;
    width: 90%;
    padding: 8px 10px;
    border-radius: 5px;
    color: #fff !important;
    position: relative;
}
.button_relative .subject_btn:hover span{
    display: none;
}
.button_relative .subject_btn:hover:after{
      background: #35c306;
      color: #fff !important;
      content: "Start";
      top:0;
      position: absolute;
      width: 100%;
      left: 0;
      border-radius: 5px;
      padding: 10px 0;
  }

.button_relative .exam-done:hover:after{
    background: #2196F3;
    color: #fff !important;
    content: "Already Done" ;
    top:0;
    position: absolute;
    width: 100%;
    left: 0;
    border-radius: 5px;
    padding: 10px 0;
}
.button_relative .subject_btn:after{

    transition: all .5s ease-in;
}
.instructions ul li{
    overflow: hidden;
    padding: 2px 0px;
    text-align: center;
}
.single_icon{
    margin: 5px 15px 0 0;
    border: 1px solid #e6d4d4;
    padding: 5px;
    min-height: 91px;
    background: #ece2e2;
    width: 94%;

}
.top .top_text{
    color: #232d53;margin: 0px 9px;font-size: 20px; text-align: center; line-height: 1.3;

}
.instructions ul li img{
    width: 38px;
    margin-right: 10px;

}
.instruction_text{
    padding: 0px 20px;
}
.modal-content{
    padding-bottom: 15px !important;
}
.aptitude_notice{
    text-align: center;}
.aptitude_notice img{
    width: 80%;
}